
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a type="button" class="btn btn-danger"
             routerLink="/barchart">Bar Chart</a>
                     
        </li>

        <li class="nav-item">
            <a type="button" class="btn btn-danger"
             routerLink="/doughnut">Doughnut Chart</a>
        </li>

        <li class="nav-item">
            <a type="button" class="btn btn-danger"
             routerLink="/radarchart">Radar Chart</a>
        </li>

        <li class="nav-item">
            <a type="button" class="btn btn-danger"
             routerLink="/piechart">Pie Chart</a>
        </li>

    </ul>
    <!-- <div>
        <router-outlet></router-outlet>
    </div> -->
</div>

<!-- <app-barchart></app-barchart> -->


 <!-- <div>
    <div style="display: block">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegends"
        [type]="barChartType">
      </canvas>
    </div>
</div> -->

    
