
<mat-toolbar color="warn" class="nav-bar">
  <div>
    <button mat-icon-button (click)="opened=!opened" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button class="btn bg-transparent"><span routerLink="/home">Home</span></button>
    <button class="btn bg-transparent"><span routerLink="/test">Registration</span></button>
    <button class="btn bg-transparent"><span routerLink="/table">Table</span></button>
    <button class="btn bg-transparent"><span routerLink="/themes">Themes</span></button>
    <button class="btn bg-transparent"><span routerLink="/maps">Maps</span></button>
    <button class="btn bg-transparent"><span routerLink="/charts">Charts</span></button>
      
  </div>

  <div class="icon">
    <button mat-icon-button class="example-icon1" aria-label="Example icon-button with menu icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <p>Hello {{fullName}}</p>
  </div>

</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" [(opened)]="opened">
      <mat-nav-list>
    <a mat-list-item routerLink="/test">Registration form</a>
    <a mat-list-item routerLink="/table">Table </a>
    <a mat-list-item routerLink="/themes">Themes</a>
    <a mat-list-item routerLink="/maps">Maps</a>
    <a mat-list-item routerLink="/charts">Charts</a>
    <!-- <a mat-list-item routerLink="">form</a> -->
    <a mat-list-item routerLink="/home">Home</a>
  </mat-nav-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>




